.App{
    height: 100%;
    box-sizing: border-box; /* fix bug in browsers */
    display: grid block;
    grid-template-rows: 5% 90% 5%;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(85, 84, 84);
}

.App > header, .App > main, .App > footer{
    grid-column: span 4;
}

.App > header{
    border-bottom: 1px solid white;
}

.loadingCircle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}