.AddVacation{
    text-align: left;
}

.Box {
    display: flex;
    justify-content: center;
    width:350px;
    margin:50px auto;
    padding: 10px;
}

.myInvalidColor {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 0;
    margin-left: 2px;
}